// colors
$clr-light: rgba(255, 255, 255, 1);
$clr-dark: rgba(19, 26, 88, 1);
$clr-accent: rgba(255, 206, 31, 1);
$clr-accent-blue: rgba(23, 128, 255, 1);
$clr-accent-lightblue: rgba(204, 227, 255, 1);

$clr-bg-dark: rgba(21, 25, 64, 1);
$clr-bg-light: rgba(245, 245, 245, 1);

$clr-gray-dark: rgba(89, 101, 115, 1);
$clr-gray-light: rgba(234, 234, 234, 1);
$clr-gray-lightest: rgba(244, 247, 250, 1);

$clr-faded-middle: rgba(136, 139, 167, 1);
$clr-faded-light: rgba(208, 209, 216, 1);
